.main-button {
    display: inline-block;
    background-color: #F25A70;
    box-shadow: 5px 5px 0 #eee;
    padding: 18px 20px;
    margin-right: 0;
    margin-left: 40px;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #eee;
    cursor: pointer;
 }

.main-button:hover {
    background-color: #eee;
    box-shadow: 5px 5px 0 #F25A70;
    padding: 18px 20px;
    margin-right: 0;
    text-decoration: none;
    color: #F25A70;
}

.main-button.-full {
    width: 100%;
    margin: 0;
    margin-top: 40px;
}