.skills-tec {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #eee;
    display: flex;
}

.skills-tec .icon {
    margin-right: 25px;
}

.skills-tec .position {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}